<h1>Here are your current bookings</h1>
<ul>
  <%  @bookings.each do |booking|%>
  <li class-list-group-item>
    <%= booking[:building].address %>
  </li>
  <%# <li class-list-group-item>
    <%= link_to booking[:building], booking_path(booking.id) %>
  <%# </li> %>
  <% end %>
</ul>
