<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path 'banner_wallpaper.jpg' %>);">
  <div class="container">
    <h1>Unleash your imagination !</h1>
    <p>Find the perfect place to rest, relax and <strong>RENT</strong>.</p>
    <a class="btn btn-flat" href="#">Book now</a>
  </div>
</div>
