<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(<%= asset_path 'purple-buildings.jpeg' %>);">
  <div class="container">
    <h1 class="banner-h">Unleash your imagination !</h1>
    <p>Find the perfect place to rest, relax and rent.</p>
    <%# <a class="btn btn-flat" href="">Book now</a> %>
      <%= link_to "Rent now !", buildings_path, class: "btn btn-flat"  %>
   </div>
</div>
