

<div class = "cards">
  <div class="card" style="width: 18rem;">
    <img src="https://images.unsplash.com/photo-1568322445389-f64ac2515020?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1354&q=80" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text"><strong>@andrei:</strong> The chance to RENT a pyramid? Amazing!</p>
    </div>
  </div>


  <div class="card" style="width: 18rem;">
    <img src="https://images.unsplash.com/photo-1528291151377-165f5107c82a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1585&q=80" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text"><strong>@Micha3l:</strong> Partying on top of Empire state building ... Best thing ever!</p>
    </div>
  </div>


  <div class="card" style="width: 18rem;">
    <img src="https://images.unsplash.com/photo-1643706011018-7e9270f75c66?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1587&q=80" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text"><strong>@Andreea:</strong> A rendezvous at LeLouvre: Exquisite romance personified. </p>
    </div>
  </div>
</div>
