<div class="container">
  <div class="row">
    <div class="col">
    <%# card %>
    <%# <sibling : description> %>
    <%# carousel %>
      <img src="https://lp-cms-production.imgix.net/2020-11/GettyRF_1085205362.jpg" alt="Pyramids" class="card_img">
    </div>
    <div class="col">
     <img src="https://www.travelandleisure.com/thmb/CbvtaZu659SP8qOSCljNCuRby_Y=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/eiffel-tower-paris-france-EIFFEL0217-6ccc3553e98946f18c893018d5b42bde.jpg"
      alt = "Taj Mahal" class= "card_img">

    </div>
      <div class="col">
    <img src="https://images.unsplash.com/photo-1564507592333-c60657eea523?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1471&q=80"
      alt = "Great Wall" class= "card_img">
    </div>
  </div>
  <div class="row">
    <div class="col">
       <img src=" https://mvslim.com/wp-content/uploads/2018/06/Day-3-Uzbekistan-Samarkand-The-Registan-Square-one-madrasa-ST.jpg"
      alt = "Samarkand" class= "card_img">

    </div>
    <div class="col">
      <img src="https://media.istockphoto.com/id/479900992/fr/photo/lama-et-le-machu-picchu.jpg?s=1024x1024&w=is&k=20&c=TQhLITy-FEXnJR4fSPAKz6Fr28IAx1F_gKTj6dPmYk8="
      alt = "Machu Picchu" class= "card_img">

    </div>
    <div class="col">
       <img src="https://w0.peakpx.com/wallpaper/1009/653/HD-wallpaper-cristo-redentor-rio-de-janeiro-rj-brasil-paysage-mountains.jpg"
      alt = "Cristo Redentor" class= "card_img">
    </div>
  </div>
</div>
