<div class="middle">
  <div class="middle-copyright">
    <p><strong>''</strong> MonuRental invites you to embrace the extraordinary and create timeless memories in the heart of history's greatest monuments. The stage is set; are you ready to experience pure magnificence? <strong>,,</strong></p>
  </div>
</div>
