<h1>Your Dream Vacation Starts Here!</h1>

<%# render "pages/navbar" %>

<div class="container">
  <div class="row">

    <% @buildings.each do |building|%>
      <div class="col">
        <div class="card" style="width: 18rem;">
          <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">

            <div class="carousel-item active" data-bs-interval="10000">
              <%= cl_image_tag building.photos[0].key, height: 300, width: 400, crop: :fill%>
            </div>

            <div class="carousel-item" data-bs-interval="2000">
              <%= cl_image_tag building.photos[1].key, height: 300, width: 400, crop: :fill%>
            </div>
          </div>

          <div class="card-body">
            <p class="card-text"> The Great Pyramids</p>
            <p><button type="button" class="btn btn-dark btn-lg" link_to building.name, building_path(building.id) >View</button></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<h1>Welcome to index page</h1>
<ul>
  <%  @buildings.each do |building|%>
  <li class-list-group-item>
    <%= link_to building.name, building_path(building.id) %>
  </li>
  <% end %>
</ul>
