.btn-flat {
  color: white;
  padding: 11px 42px;
  border-radius: 4px;
  background: #8746f1;
  transition: background 0.3s ease;
  font-weight: bold;
  font-size: 22px;
  border: 2px solid #E9D758;
}

.btn-flat:hover {
  background: #ffffff;
  color: #8746f1;
  font-weight: bold;
}

