.card_img{
  width: 200px;
  height: 200px;
  display: grid;
  grid-gap: 16px;
}

.card {
  width: 200px;
    border-radius: 3px;
    box-shadow: 0 0 13px rgb(228, 240, 8);
    text-align: center;
    padding: 20px;
    border: 1px solid rgb(230, 230, 230);
    transition: all 0.5s;
    background-color: #EEEEFB;
    height: 500px;
    margin: auto;

    &:hover {
      box-shadow: 0 0 10px rgb(230, 230, 230);
      border-color: #570d98;
      border-radius: 20px;
      cursor: pointer;
      border: 3px solid #570d98;
      background-color: #E9D758;
    }
}

.card:hover .card-img-top {
  filter: grayscale(100%);
}

.card-description {
  margin-top: 10px;
}

.mb-3 {
  margin-top: 50px;
}
