.cards {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 30px;
    margin-top: 30px;
    flex-wrap: wrap;
}

@media (max-width: 768px) {
  .card {
    margin-bottom: 30px;
  }
}
