.footer {
  background: #494850;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 150px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
  width: 100%;
  margin: 0 auto;
  flex-direction: column;
}
.footer-links {
  display: flex;
  align-items: center;
  margin: 40px;
}
.footer-links a {
  color: #E9D758;
  opacity: 1;
  text-decoration: none;
  font-size: 30px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
  font-size: 40px;
}
.footer .fa-heart {
  color: #783b7a;
}

.footer-copyright {
  margin-bottom: 30px;
  color: black;
  opacity: 1;
}
